<div class="ui top attached header">
  <h2>Employee At Work</h2>
</div>
<div class="ui attached segment">
  This all started when a co-worker guessed the arrival time of another co-worker, Employee, within a few seconds of his actual time. This soon turned into a game.
  I jokingly stated that I should make a website for this game. Wanting to learn how to write code for node js anyway I sat down and started writing. This is still early in development
  and has many more feature that need to be implemented such as rules, leader board, score cards, and other fancy analytics. On this project, I used node js, handle bars, express,
  mongo db, jquery, highcharts, and semantic ui.
  Any bugs can be reported to the github repository <a href="https://github.com/Tweety79rw/employeeAtWork">here</a>.
  Anyone can play in this game. There is no money involved just bragging rights, try to be at the top of the soon to come leader board.
</div>
{{#if user}}
  <div class="ui header">You are currently logged in as <strong>{{user.username}}</strong></div>
  <div class="ui segment">
  {{#if guess}}
      <p>you have guessed today {{guess.[0].date}}</p>
  {{else}}
    <p>Would you like to submit a guess</p>
    <form class="ui form" role="form" action="/submit_guess" method="post">
      <div class="field">
        <input type="time" name="guess" placeholder="guess">
      </div>
      <div class="ui buttons">
        <button class="ui submit button" type="submit">Submit</button>
        <a href="/" class="ui cancel button">Cancel</a>
      </div>
    </form>
  {{/if}}
  </div>
  <div class="ui segment">

    {{#if actual}}
      <p>Arrival was at {{actual.[0].date}} reported by {{actual.[0].username}}</p>
      {{#if guess}}
        <p>Your guess was off by {{{checkGuess guess.[0] actual.[0]}}} minutes</p>
      {{/if}}
    {{else}}
        <p>Would you like to submit his arival</p>
        <form class="ui form" role="form" action="/submit_arival" method="post">
          <div class="field">
            <input type="time" name="arival" placeholder="arival">
            <input type="text" name="excuse" placeholder="excuse">
          </div>
          <div class="ui buttons">
            <button class="ui submit button" type="submit">Submit</button>
            <a href="/" class="ui cancel button">Cancel</a>
          </div>
        </form>
    {{/if}}
  </div>
{{else}}
  <div class="ui header">Please Login or Register</div>
  <div class="ui segment">
    {{#if actual}}
      <p>Arrival was at {{actual.[0].date}} reported by {{actual.[0].username}}</p>
    {{else}}
      <p>No arrival reported</p>
    {{/if}}
  </div>
{{/if}}
<div class="ui segment">
<div id="tabMenu" class="ui top attached tabular menu">
  <a class="active item" data-tab="lineChart">Line</a>
  <a class="item" data-tab="histogramChart">Histogram</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="lineChart">
  <div id="chart"></div>
</div>
<div class="ui bottom attached tab segment" data-tab="histogramChart">
  <div id="histogramChart"></div>
</div>
</div>
<script>
  $(document).ready(function(){
    $('#tabMenu .item').tab();
    $.ajax({
      url:'/api/arrivals'
    }).done(function(d){
      var series = [];
      var hist ={};
      series.push({
        name:'Actual',
        connectNulls:false,
        data:d.arivals.map(function(e){
          var date = new Date(e.date);
          var day = new Date(new Date(e.date).setHours(0,0,0,0));
          var time = date.getHours()*60 + date.getMinutes();
          if(!hist.hasOwnProperty(time-time%5))
            hist[time-time%5] = 0;
          hist[time-time%5]++;
          return {x:day.getTime(),y:time,z:e.excuse||''};
        })
      });
      var arr = [];
      for (x in hist) {
        if (hist.hasOwnProperty((x))) {
            arr.push([parseFloat(x), hist[x]]);
        }
      }
      arr.sort(function(a,b){
        return a[0]-b[0];
      })
      if(d.guesses && d.guesses.length>0){
        series.push({
          name:d.guesses[0].username,
          connectNulls:false,
          data:d.guesses.map(function(e){
            var date = new Date(e.date);
            var day = new Date(new Date(e.date).setHours(0,0,0,0));
            return [day.getTime(),date.getHours()*60 + date.getMinutes()];
          })
        })
      }
      var month = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ];
      $('#chart').highcharts({
        chart: {
          type: 'spline'
        },
        xAxis: {
          ordinal:false,
          type: 'datetime',
          // dateTimeLabelFormats: { // don't display the dummy year
          //   month: '%e. %b',
          //   year: '%b'
          // },
          title: {
            text: 'Date'
          }
        },
        tooltip: {
          formatter:function(){
            var xDate = new Date(this.x);
            var time = this.y;
            console.log(this);
            var hours1=parseInt(time/60);
            var mins1=parseInt(parseInt(time-parseInt(time/60)*60));
            return month[(xDate.getMonth())]+' '+xDate.getDate() +'<br>'+hours1 + ':' + ("0" + mins1).slice(-2)+'<br>Reason: '+this.point.z;
          }
        },
        yAxis:{

          labels: {
                formatter: function () {
                    var time = this.value;
                    var hours1=parseInt(time/60);
                    var mins1=parseInt(parseInt(time-parseInt(time/60)*60));
                    return hours1 + ':' + ("0" + mins1).slice(-2);
                }
            }
        },
        series:series
      });
      $('#histogramChart').highcharts({
        chart: {
          type: 'column'
        },
        title: {
            text: 'Highcharts Histogram'
        },
        tooltip: {
          formatter:function(){
            var time = this.x;
            var hours1=parseInt(time/60);
            var mins1=parseInt(parseInt(time-parseInt(time/60)*60));
            return hours1 + ':' + ("0" + mins1).slice(-2);
          }
        },
        xAxis: {
          gridLineWidth: 1,
          labels:{
            formatter: function() {
              var hours = parseInt(this.value/60);
              var min = parseInt(parseInt(this.value-parseInt(this.value/60)*60));
              return hours+':'+("0" + min).slice(-2);
            }
          }
        },
        yAxis: [{
            title: {
                text: 'Histogram Count'
            }
        }],
        series:[{
          name: 'Histogram',
          type: 'column',
          data: arr,
          pointPadding: 0,
          groupPadding: 0,
          pointPlacement: 'between'
        }]
      })
    });
  });
</script>
